body{
  margin-left: 100px;
  margin-right: 100px;
  font-family: 'Roboto';
  font-size: 20px;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.topHeader{
  padding-top: 20px;
  padding-bottom: 20px;
}
.mainHeader {
  overflow: hidden;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
}

/* Style the links inside the navigation bar */
.mainHeader a {
  float: left;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Roboto';
  font-size: 20px;
}
.mainHeader a:after {
    display: block;
    float: right;
    content: "";
    height: 17px;
    background: #49356b42;
    width: 1px;
    margin-left: 50px;
    margin-top: 2px;
}
/* Add a color to the active/current link */
.mainHeader a.active {
  background-color: #4CAF50;
  color: white;
}